@import '../../../app/[locale]/variables.scss';

.goals {
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .textContainer {
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.4px;
        padding: 2rem;
        @media screen and (min-width: $desktop) {
            display: flex;
            gap: 2rem;
            padding: 0;
            font-size: 16px;
        }
    }

    .imgContainer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media screen and (min-width: $desktop) {
            gap: 2rem;
            width: 100%;
            flex-direction: row;
            margin-bottom: 32px;
        }
    }

    .image {
        width: 100%;
        height: auto;
    }

    .title {
        text-align: center;
        margin-bottom: 0;
    }
}
