@import '../../../app/[locale]/variables.scss';

.goals {
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .imgContainer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media screen and (min-width: $desktop) {
            gap: 2rem;
            width: 100%;
            flex-direction: row;
            margin-bottom: 32px;
        }
    }

    .image {
        width: 100%;
        height: auto;
    }

    .title {
        text-align: center;
        margin-bottom: 0;
    }
}

.descContainer {
    padding: 2rem;
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0;
    }
    .descTitle {
        font-family: 'helveticaMedium';
        font-size: 20px;
    }
    .desc {
        margin-bottom: 20px;
    }
}

.methodContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 1.4;
    letter-spacing: 0.4px;
}

.goalsTitle {
    font-family: 'helveticaMedium';
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 30px;
}
