@import '../../../app/[locale]/variables.scss';
.resume {
    padding: 2rem;

    .textContainer {
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.4px;
        @media screen and (min-width: $desktop) {
            display: flex;
            gap: 5rem;
        }
    }
}
