@import "'../../../../../app/[locale]/variables.scss";

.perspectives {
    padding: 2rem;
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}

.text {
    line-height: 1.4;
    letter-spacing: 0.4px;
}

.bold {
    font-family: 'helveticaMedium';
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
