@import '../../../app/[locale]/variables.scss';

.results {
    padding: 2rem;

    .textContainer {
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.4px;
        @media screen and (min-width: $desktop) {
            display: flex;
            gap: 2rem;
            font-size: 16px;
            padding: 4rem;
        }
    }

    .title {
        font-size: 25px;
        margin: 20px 0;
    }

    .linkList {
        margin-left: 18px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media screen and (min-width: $desktop) {
        }
    }

    .link {
        a {
            color: white;
        }
    }
}
