@import '../../../app/[locale]/variables.scss';

.intro {
    display: flex;
    width: 100%;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    @media screen and (min-width: $desktop) {
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
    }

    .bioContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        @media screen and (min-width: $desktop) {
            flex-direction: row;
        }
    }

    .descContainer {
        font-size: 35px;
        letter-spacing: 0.4px;
        line-height: 1.2;
        @media screen and (min-width: $desktop) {
            flex: 1;
        }
    }

    .numbersContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        @media screen and (min-width: $desktop) {
            flex: 1;
        }
    }

    .numberContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .number {
        font-size: 45px;
    }

    .numberDesc {
        font-size: 14px;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .image2 {
        width: 100%;
        height: auto;
        @media screen and (min-width: $desktop) {
            width: 85%;
        }
    }

    .text {
        font-size: 24px;
        letter-spacing: 0.5px;
        line-height: 1.3;
    }
}
