@import '../../../app/[locale]/variables.scss';

.imgOnText {
    background-color: $yellow;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    align-items: center;
    background-color: $yellow;
    overflow: hidden;

    .textBlock {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 27px;
        @media screen and (min-width: $desktop) {
            padding: 4rem;
            flex-direction: row;
            gap: 0;
        }
    }

    .title {
        font-size: 53px;
    }

    .imageContainer {
        background-color: black;
        width: 100%;
    }

    .image {
        object-fit: contain;
        height: auto;
        width: 100%;
    }
}
