@import '../../../app/[locale]/variables.scss';

.localeButton {
    flex: 0 0 auto;
    width: 150px;
    text-align: right;
}
.select {
    border: none;
    font-family: 'fontRoman';
    text-transform: uppercase;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background-color: transparent;
    color: black;
    @media screen and (min-width: $desktop) {
        color: grey;
    }
}

.black {
    color: black;
}

.white {
    color: white;
}
